.trending_section {
    padding: 0px 50px;
    margin-top: 70px;
}

.trending_section h1 {
    font-size: 30px;
}

.carousel_pic {
    text-align: center;
}

.carousel_pic img {
    border-radius: 15px;
}

.cvyJEp:hover:enabled,
.cvyJEp:focus:enabled {
    background-color: #E87D0E !important;
}

.cqQwrw {
    background-color: #E87D0E !important;
    box-shadow: #753e03 0px 0px 1px 3px !important;
}

.trending_section_two {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.trending_section_two h1 {
    text-align: center;
    font-size: 40px;
    width: 60%;
    margin: auto;
}

.banner_section {
    padding: 0px 50px;
    margin-bottom: 80px;
}

.banner_section h3 {
    font-size: 30px;
}

.banner_section p {
    font-size: 20px;
    width: 50%;
}

.banner_section img {
    display: flex;
    margin: auto;
    margin-top: 70px;
}




@media screen and (min-width: 250px) and (max-width: 500px) {
    .hnvVol {
        width: 130% !important;
    }

    .carousel_pic img {
        border-radius: 35px;
    }

    .trending_section_two {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
    }

    .trending_section_two h1 {
        text-align: start;
        font-size: 40px;
        width: 75%;
        margin: auto;
    }

    .banner_section {
        margin-bottom: 30px;
    }

    .banner_section p {
        font-size: 20px;
        width: 100%;
    }

    .banner_section img {
        display: none;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .trending_section_two {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
    }

    .trending_section_two h1 {
        text-align: start;
        font-size: 40px;
        width: 88%;
        margin: auto;
    }

    .banner_section {
        margin-bottom: 60px;
    }

    .banner_section p {
        font-size: 25px;
        width: 100%;
    }

    .banner_section img {
        width: 100%;
    }
}